body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  margin: 15px auto 15px auto;
}

.dfaCanvas {
  display: none;
}
